Flask==3.0.3
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.9
Flask-JWT-Extended==4.6.0
redis==5.0.7
Flask-SocketIO==5.3.6
python-socketio==5.11.3
python-engineio==4.10.1
flasgger==0.9.7.1
PyYAML==6.0.2
alembic==1.14.0
Werkzeug==3.0.4
passlib==1.7.4
bcrypt==4.2.0
pytest==8.3.3
pytest-cov==5.0.0
requests==2.32.3
